@keyframes btnSpinner {
  to {
    transform: rotate(360deg); } }

/* MIXIN : MEDIA QUERIES
 *    EX : @include mq( 'lap-and-up' ) { CODE }
 * ------------------------------------------------------------------------- */
/*================ Font-family ================*/
/*================ Color ================*/
/*================ Button colors ================*/
/*================ Grid ================*/
/*================ Table color ================*/
/*================ Slider ================*/
/*================ Product grid ================*/
/*================ Header ================*/
/*=========== FORM ===========*/
/*================ content ================*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 767px) {
    .container {
      width: 100%;
      max-width: 737px; } }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
      width: 100%;
      max-width: 993px; } }
  @media screen and (min-width: 1025px) and (max-width: 1199px) {
    .container {
      width: 100%;
      max-width: 1170px; } }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1170px; } }
  @media screen and (min-width: 1400px) {
    .container {
      width: 1370px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  .col-xs-1.static,
  .col-sm-1.static,
  .col-md-1.static,
  .col-lg-1.static,
  .col-xs-2.static,
  .col-sm-2.static,
  .col-md-2.static,
  .col-lg-2.static,
  .col-xs-3.static,
  .col-sm-3.static,
  .col-md-3.static,
  .col-lg-3.static,
  .col-xs-4.static,
  .col-sm-4.static,
  .col-md-4.static,
  .col-lg-4.static,
  .col-xs-5.static,
  .col-sm-5.static,
  .col-md-5.static,
  .col-lg-5.static,
  .col-xs-6.static,
  .col-sm-6.static,
  .col-md-6.static,
  .col-lg-6.static,
  .col-xs-7.static,
  .col-sm-7.static,
  .col-md-7.static,
  .col-lg-7.static,
  .col-xs-8.static,
  .col-sm-8.static,
  .col-md-8.static,
  .col-lg-8.static,
  .col-xs-9.static,
  .col-sm-9.static,
  .col-md-9.static,
  .col-lg-9.static,
  .col-xs-10.static,
  .col-sm-10.static,
  .col-md-10.static,
  .col-lg-10.static,
  .col-xs-11.static,
  .col-sm-11.static,
  .col-md-11.static,
  .col-lg-11.static,
  .col-xs-12.static,
  .col-sm-12.static,
  .col-md-12.static,
  .col-lg-12.static {
    position: static; }

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media screen and (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media screen and (min-width: 1025px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media screen and (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.scroll-ul::-webkit-scrollbar {
  display: none; }

@media screen and (max-width: 767px) {
  .scroll-ul {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    -webkit-transform: translate3d(0, 0, 0); }
    .scroll-ul > li[class^="col"] {
      display: inline-block;
      width: 250px;
      vertical-align: top;
      float: none; }
      .scroll-ul > li[class^="col"]:first-of-type {
        margin-left: -15px; } }

.flex-view > div[class^="col"] {
  padding-left: 0;
  padding-right: 0; }

@media screen and (min-width: 768px) {
  .flex-view {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .flex-view.left {
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
    .flex-view.right {
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
    .flex-view.stretch {
      -webkit-justify-content: stretch;
      -ms-flex-pack: stretch;
      justify-content: stretch; }
    .flex-view.center {
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .flex-view.space-between {
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .flex-view.space-around {
      -webkit-justify-content: space-around;
      -ms-flex-pack: justify;
      justify-content: space-around; }
    .flex-view.middle {
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .flex-view.end {
      -webkit-align-items: end;
      -ms-flex-align: end;
      align-items: end; }
    .flex-view.start {
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .flex-view.reverse {
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    .flex-view.space {
      margin: 0 -15px; }
      .flex-view.space > div[class^="col"] {
        padding-left: 15px;
        padding-right: 15px; } }

.flex-view-xs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-view-xs.left {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .flex-view-xs.right {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .flex-view-xs .stretch {
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch; }
  .flex-view-xs.center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .flex-view-xs.space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .flex-view-xs.space-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around; }
  .flex-view-xs.middle {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .flex-view-xs.end {
    -webkit-align-items: end;
    -ms-flex-align: end;
    align-items: end; }
  .flex-view-xs.start {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .flex-view-xs.reverse {
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .flex-view-xs.space {
    margin: 0 -15px; }
    .flex-view-xs.space > div[class^="col"] {
      padding-left: 15px;
      padding-right: 15px; }
  .flex-view-xs > div[class^="col"] {
    padding-left: 0;
    padding-right: 0; }

.table-view > div[class^="col"] {
  padding-left: 0;
  position: static;
  padding-right: 0; }

@media screen and (min-width: 768px) {
  .table-view {
    display: table;
    width: 100%; }
    .table-view > div[class^="col"] {
      float: none;
      padding-left: 0;
      padding-right: 0;
      display: table-cell;
      vertical-align: middle; } }

.table-view:after {
  display: table;
  clear: both;
  content: ""; }

.table-view-xs {
  display: table;
  width: 100%; }
  .table-view-xs > div[class^="col"] {
    padding-left: 0;
    position: static;
    padding-right: 0; }
  .table-view-xs > div[class^="col"] {
    float: none;
    padding-left: 0;
    padding-right: 0;
    display: table-cell;
    vertical-align: middle; }

.container-small {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container-medium {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container-fluid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container-fluid.padding-none {
  padding: 0px; }

.row-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px; }

.row-reverse {
  flex-direction: row-reverse; }

.column-reverse {
  flex-direction: column-reverse; }

/* Extra small Device size Phone */
@media (max-width: 767px) {
  .column-reverse-xs {
    flex-direction: column-reverse; }
  .align-items-top-xs {
    align-items: flex-start; }
  .align-items-center-xs {
    align-items: center; }
  .align-items-bottom-xs {
    align-items: end; }
  .grid-xs-1 {
    width: calc(8.333333% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-xs-2 {
    width: calc(16.66667% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-xs-3 {
    width: calc(33.33333% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-xs-4 {
    width: calc(25% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-xs-5 {
    width: calc(41.666667% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-xs-6 {
    width: calc(50% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-xs-7 {
    width: calc(58.333333% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-xs-8 {
    width: calc(66.666667% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-xs-9 {
    width: calc(75% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-xs-10 {
    width: calc(83.333333% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-xs-11 {
    width: calc(91.666667% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-xs-12 {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0; } }

/* Small Device size Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .column-reverse-sm {
    flex-direction: column-reverse; }
  .align-items-top-sm {
    align-items: flex-start; }
  .align-items-center-sm {
    align-items: center; }
  .align-items-bottom-sm {
    align-items: end; }
  .grid-sm-1 {
    width: calc(8.333333% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-sm-2 {
    width: calc(16.66667% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-sm-3 {
    width: calc(33.33333% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-sm-4 {
    width: calc(25% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-sm-5 {
    width: calc(41.666667% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-sm-6 {
    width: calc(50% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-sm-7 {
    width: calc(58.333333% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-sm-8 {
    width: calc(66.666667% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-sm-9 {
    width: calc(75% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-sm-10 {
    width: calc(83.333333% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-sm-11 {
    width: calc(91.666667% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-sm-12 {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0; } }

/* Medium Device size */
@media (min-width: 1025px) and (max-width: 1600px) {
  .column-reverse-md {
    flex-direction: column-reverse; }
  .align-items-top-md {
    align-items: flex-start; }
  .align-items-center-md {
    align-items: center; }
  .align-items-bottom-md {
    align-items: end; }
  .grid-md-1 {
    width: calc(8.333333% - 10px);
    max-width: calc(50% - 5px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-md-2 {
    width: calc(16.66667% - 10px);
    max-width: calc(50% - 5px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-md-3 {
    width: calc(33.33333% - 10px);
    max-width: calc(50% - 5px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-md-4 {
    width: calc(25% - 10px);
    max-width: calc(50% - 5px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-md-5 {
    width: calc(41.666667% - 10px);
    max-width: calc(50% - 5px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-md-6 {
    width: calc(50% - 10px);
    max-width: calc(50% - 5px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-md-7 {
    width: calc(58.333333% - 10px);
    max-width: calc(50% - 5px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-md-8 {
    width: calc(66.666667% - 10px);
    max-width: calc(50% - 5px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-md-9 {
    width: calc(75% - 10px);
    max-width: calc(50% - 5px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-md-10 {
    width: calc(83.333333% - 10px);
    max-width: calc(50% - 5px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-md-11 {
    width: calc(91.666667% - 10px);
    max-width: calc(50% - 5px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-md-12 {
    width: 100%;
    max-width: calc(50% - 5px);
    flex-grow: 1;
    flex-shrink: 0; } }

/* Extra Large  Device size */
@media (min-width: 1601px) {
  .column-reverse-lg {
    flex-direction: column-reverse; }
  .align-items-top-lg {
    align-items: flex-start; }
  .align-items-center-lg {
    align-items: center; }
  .align-items-bottom-lg {
    align-items: end; }
  .grid-lg-1 {
    width: calc(8.333333% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-lg-2 {
    width: calc(16.66667% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-lg-3 {
    width: calc(33.33333% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-lg-4 {
    width: calc(25% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-lg-5 {
    width: calc(41.666667% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-lg-6 {
    width: calc(50% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-lg-7 {
    width: calc(58.333333% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-lg-8 {
    width: calc(66.666667% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-lg-9 {
    width: calc(75% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-lg-10 {
    width: calc(83.333333% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-lg-11 {
    width: calc(91.666667% - 10px);
    flex-grow: 1;
    flex-shrink: 0; }
  .grid-lg-12 {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0; } }

.home-banner-text-wrapper .sub-text-wrapper {
  margin-bottom: 20px; }
  @media screen and (max-width: 1024px) {
    .home-banner-text-wrapper .sub-text-wrapper {
      text-align: center; } }

.home-banner-text-wrapper h1 {
  font-weight: 800;
  line-height: 1.3;
  font-size: 58px; }
  @media screen and (max-width: 1024px) {
    .home-banner-text-wrapper h1 {
      text-align: center;
      font-size: 30px; } }

.home-banner-text-wrapper .banner-dec-wrapper {
  margin: 25px 0;
  font-size: 20px; }
  @media screen and (max-width: 1024px) {
    .home-banner-text-wrapper .banner-dec-wrapper {
      text-align: center; } }

@media screen and (max-width: 1024px) {
  .home-banner-text-wrapper .get-button {
    text-align: center; } }

.home-banner-text-wrapper .get-button .btn {
  font-size: 17px; }

.home-block {
  margin-top: 100px; }
  @media screen and (max-width: 1024px) {
    .home-block {
      margin-top: 50px; } }
  .home-block .row-wrapper {
    gap: 20px; }
  .home-block .block-list li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px; }
  .home-block .block-list p {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    color: #121212;
    font-style: normal; }
  .home-block .block-list span {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    font-weight: bold;
    justify-content: center;
    -webkit-justify-content: center; }

.home-block-list-wrapper {
  width: 80%;
  margin: 150px auto; }
  @media screen and (max-width: 1024px) {
    .home-block-list-wrapper {
      width: 100%;
      padding: 0 10px; } }
  .home-block-list-wrapper .home-blocks {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    gap: 25px; }
    @media screen and (max-width: 1024px) {
      .home-block-list-wrapper .home-blocks {
        flex-direction: column; } }
    .home-block-list-wrapper .home-blocks .block {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: flex-start;
      -webkit-flex-align: flex-start;
      -ms-flex-align: flex-start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      justify-content: center;
      -webkit-justify-content: center;
      gap: 25px; }
      @media screen and (max-width: 1024px) {
        .home-block-list-wrapper .home-blocks .block {
          margin-bottom: 50px; } }
      .home-block-list-wrapper .home-blocks .block .image {
        width: 200px;
        height: auto; }
      @media screen and (max-width: 1024px) {
        .home-block-list-wrapper .home-blocks .block {
          width: 100%; } }
      .home-block-list-wrapper .home-blocks .block .block-data h3 {
        font-size: 24px;
        color: #000000;
        text-align: left;
        margin-bottom: 10px; }
        @media screen and (max-width: 1024px) {
          .home-block-list-wrapper .home-blocks .block .block-data h3 {
            font-size: 20px; } }
      .home-block-list-wrapper .home-blocks .block .block-data .block-dec p {
        text-align: left; }

.pricing-table-warpper {
  width: 80%;
  margin: 0 auto; }
  @media screen and (max-width: 767px) {
    .pricing-table-warpper {
      width: 100%; } }
  .pricing-table-warpper .sub-text-wrapper {
    text-align: center; }
    .pricing-table-warpper .sub-text-wrapper .sub-text {
      font-size: 15px;
      font-weight: 800; }
  .pricing-table-warpper .title {
    font-size: 45px;
    line-height: 1.3;
    font-weight: 800;
    color: #343434;
    font-style: normal;
    text-align: center;
    margin: 20px 0; }
    @media screen and (max-width: 767px) {
      .pricing-table-warpper .title {
        font-size: 30px; } }
  .pricing-table-warpper .dec p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    font-style: normal;
    text-align: center;
    width: 50%;
    margin: 0 auto; }
    @media screen and (max-width: 767px) {
      .pricing-table-warpper .dec p {
        width: 90%;
        font-size: 16px; } }
  .pricing-table-warpper .price-table {
    width: 80%;
    margin: 0 auto; }
    @media screen and (max-width: 767px) {
      .pricing-table-warpper .price-table {
        width: 100%; } }
    .pricing-table-warpper .price-table .price-blocks-wrapper {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-flex-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      width: 80%;
      margin: 20px auto; }
      @media screen and (max-width: 767px) {
        .pricing-table-warpper .price-table .price-blocks-wrapper {
          display: block;
          width: 90%; } }
      .pricing-table-warpper .price-table .price-blocks-wrapper .block-wrapper {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
        margin-bottom: 20px; }
        .pricing-table-warpper .price-table .price-blocks-wrapper .block-wrapper .price-title {
          padding: 65px 0 20px; }
          .pricing-table-warpper .price-table .price-blocks-wrapper .block-wrapper .price-title h3 {
            text-align: center;
            color: #ffbe5f;
            font-size: 15px;
            font-weight: 800;
            letter-spacing: 2.3px; }
        .pricing-table-warpper .price-table .price-blocks-wrapper .block-wrapper .image {
          padding: 10px 0 20px;
          text-align: center; }
        .pricing-table-warpper .price-table .price-blocks-wrapper .block-wrapper .price {
          text-align: center;
          font-size: 60px; }
          @media screen and (max-width: 767px) {
            .pricing-table-warpper .price-table .price-blocks-wrapper .block-wrapper .price {
              font-size: 40px; } }
        .pricing-table-warpper .price-table .price-blocks-wrapper .block-wrapper .servis {
          padding: 25px 0; }
          .pricing-table-warpper .price-table .price-blocks-wrapper .block-wrapper .servis li {
            margin: 0 0 10px;
            padding: 0 45px;
            text-align: center; }
        .pricing-table-warpper .price-table .price-blocks-wrapper .block-wrapper .price-button {
          padding-bottom: 30px;
          display: block;
          text-align: center; }

